<div class="container mx-auto mt-6 md:mt-24">
	<section class="bg-white mx-2 my-4 p-4 md:m-10 md:p-10 rounded-lg text-center">
		<h1 class="text-6xl font-bold text-gray-300 mb-4">404</h1>
		<h2 class="text-2xl font-bold text-gray-800 mb-4"><%= t('defaults.error_404_title') %></h2>
		<p class="text-gray-500 mb-8"><%= t('defaults.error_404_message') %></p>
		<%= link_to t('defaults.back_to_home'), root_path, class: "inline-block bg-indigo-500 hover:bg-indigo-600 text-white font-semibold rounded-lg px-6 py-3 transition duration-100" %>
	</section>
</div>
